{% extends 'base.html' %}

{% block Titulo %}  Inicio  {% endblock  %}

{% block contenido %}

<div class="p-5 bg-light">
    <div class="container">
        {% if request.user.is_authenticated %}
        <h1 class="display-6">Buenos dias, <span style="text-transform: capitalize;">{{ request.user.username }}</span></h1>
        {% endif %}        
        <h1 class="display-3">Bienvenidos al ranking de alfajores</h1>
        <p class="lead">Empeza a armar tu ranking</p>
        <hr class="my-2">
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'crear' %}" role="button">Comenzar</a>
        </p>
    </div>
</div>
{% endblock  %}